/* layout.css - Estilos de Sidebar y Estructura (Keny Andre) */
.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--primary-color);
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}
